  <div class="w-full bg-header py-8">
    <div class='flex justify-end py-6 space-x-6 px-12 md:px-24 text-white'>
      <% if user_signed_in? %>
        <%= link_to 'アルバム作成' %>
        <%= link_to 'アルバム一覧' %>
        <%= link_to 'マイページ' %>
      <% end %>
    </div>
  </div>
